  /* General Elements */

  p {
    text-align: center;
  }

  /* Classes */

  .column {
    background: #d14;
    background-color: #d14;

    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  .cta {
    background: #2199e8;
    background-color: #2199e8;
    color: #fff;
    padding: 0.5rem 2rem;
    &:hover {
      color: #fff;
    }
  }

  .rounded {
    border-radius: 10%;
  }
